version: "3.8"

services:
  web:
    build: .
    container_name: web-profile
    restart: unless-stopped

    ports:
      - "8383:8383"

    networks:
      - coolify

networks:
  coolify:
    external: true
    name: coolify
